.greedy-nav {
  position: relative;
  min-width: 250px;
  background: #fff;
}
.greedy-nav a {
  display: block;
  padding: 20px 30px;
  background: #fff;
  font-size: 18px;
  color: #ff9800;
  text-decoration: none;
}
.greedy-nav a:hover {
  color: #ef6c00;
}
.greedy-nav button {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 15px;
  border: 0;
  outline: none;
  background-color: #f57c00;
  color: #fff;
  cursor: pointer;
}
.greedy-nav button:hover {
  background-color: #ef6c00;
}
.greedy-nav button::after {
  content: attr(count);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -16px;
  top: 12px;
  text-align: center;
  background-color: #ef6c00;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  font-weight: bold;
}
.greedy-nav button:hover::after {
  transform: scale(1.075);
}
.greedy-nav .hamburger {
  position: relative;
  width: 32px;
  height: 4px;
  background: #fff;
  margin: auto;
}
.greedy-nav .hamburger:before,
.greedy-nav .hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  background: #fff;
}
.greedy-nav .hamburger:before {
  top: -8px;
}
.greedy-nav .hamburger:after {
  bottom: -8px;
}
.greedy-nav .visible-links {
  display: inline-table;
}
.greedy-nav .visible-links li {
  display: table-cell;
  border-left: 1px solid #ff9800;
}
.greedy-nav .hidden-links {
  position: absolute;
  right: 0px;
  top: 100%;
}
.greedy-nav .hidden-links li {
  display: block;
  border-top: 1px solid #f57c00;
}
.greedy-nav .visible-links li:first-child {
  font-weight: bold;
}
.greedy-nav .hidden {
  visibility: hidden;
}
